.app-header nav {
  display: flex;
  justify-content: space-between;
  height: 5vh;

  .left {
    display: flex;
    margin-inline-start: 2rem;
    align-items: center;
    gap: 2rem;
    & > * {
      font-size: large;
      color: white;
    }
    .router-link-active {
      color: $clr1;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background-color: $clr1;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    margin-inline-end: 2rem;

    gap: 1rem;
    .quick-stats {
      background-color: #f8f8f8;
      color: #333;
      padding: 5px 10px;
      border-radius: 5px;
      font-family: Arial, sans-serif;
      font-size: 14px;
    }
    .avatar {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: $clr1-light;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-family: Arial, sans-serif;
      font-size: 15px;
    }
  }
}
