.home-container {
  height: 90vh;
  .greeting-container {
    h1 span {
      color: rgb(248, 173, 93);
    }
    .balance-desc {
      display: flex;
      align-items: center;
      font-size: 2rem;
    }
    .bitcoin-logo {
      color: rgb(248, 173, 93);
      margin: 0;
      margin-top: 4px;
    }
  }
}
